{% if entity is not null %}
    <div class="task-widget-row {{ entity.dueDateExpired ? 'task-expired' : '' }}"
        data-url="{{ path("oro_task_view", {'id':entity.id}) }}">
        <span class="task-subject">{{ entity.subject }}</span>
        <span class="task-date-time">{{ entity.dueDate|oro_format_datetime }}</span>
    </div>
    {% placeholder cuantic_sidebar_widgets with {entity: entity} %}
{% else %}
    <p class="no_tasks">
        {{ "oro.task.assigned_tasks_widget.no_task_exist"|trans }}
    </p>
{% endif %}
